[submodule "client/organizational_tools"]
	path = client/organizational_tools
	url = git@github.com:opengl-toolbox/organizational_tools.git
[submodule "client/window"]
	path = client/window
	url = git@github.com:opengl-toolbox/window.git
[submodule "client/external_libraries/glfw"]
	path = client/external_libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "client/external_libraries/glad_opengl_3.3_core"]
	path = client/external_libraries/glad_opengl_3.3_core
	url = git@github.com:opengl-toolbox/glad_opengl_3.3_core.git
[submodule "client/input_snapshot"]
	path = client/input_snapshot
	url = git@github.com:opengl-toolbox/input_snapshot.git
[submodule "client/game_loop"]
	path = client/game_loop
	url = git@github.com:opengl-toolbox/game_loop.git
[submodule "client/stopwatch"]
	path = client/stopwatch
	url = git@github.com:opengl-toolbox/stopwatch.git
[submodule "server/external_libraries/enet"]
	path = server/external_libraries/enet
	url = git@github.com:zpl-c/enet.git
[submodule "client/external_libraries/enet"]
	path = client/external_libraries/enet
	url = git@github.com:zpl-c/enet.git
[submodule "server/organizational_tools"]
	path = server/organizational_tools
	url = git@github.com:opengl-toolbox/organizational_tools.git
[submodule "client/rate_limited_loop"]
	path = client/rate_limited_loop
	url = git@github.com:opengl-toolbox/rate_limited_loop.git
[submodule "server/input_snapshot"]
	path = server/input_snapshot
	url = git@github.com:opengl-toolbox/input_snapshot.git
[submodule "server/rate_limited_loop"]
	path = server/rate_limited_loop
	url = git@github.com:opengl-toolbox/rate_limited_loop.git
[submodule "server/external_libraries/glm"]
	path = server/external_libraries/glm
	url = git@github.com:g-truc/glm.git
[submodule "server/interaction/physics"]
	path = server/interaction/physics
	url = git@github.com:opengl-toolbox/physics.git
[submodule "server/external_libraries/JoltPhysics"]
	path = server/external_libraries/JoltPhysics
	url = git@github.com:jrouwe/JoltPhysics.git
[submodule "server/external_libraries/assimp"]
	path = server/external_libraries/assimp
	url = git@github.com:assimp/assimp.git
[submodule "server/model_loading"]
	path = server/model_loading
	url = git@github.com:opengl-toolbox/model_loading.git
[submodule "server/math"]
	path = server/math
	url = git@github.com:opengl-toolbox/math.git
[submodule "server/assets"]
	path = server/assets
	url = git@github.com:opengl-toolbox/assets.git
[submodule "server/interaction/camera"]
	path = server/interaction/camera
	url = git@github.com:opengl-toolbox/camera.git
[submodule "client/graphics/shaders"]
	path = client/graphics/shaders
	url = git@github.com:opengl-toolbox/shaders.git
[submodule "client/graphics/textured_model_loading"]
	path = client/graphics/textured_model_loading
	url = git@github.com:opengl-toolbox/textured_model_loading.git
[submodule "client/external_libraries/glm"]
	path = client/external_libraries/glm
	url = git@github.com:g-truc/glm.git
[submodule "client/external_libraries/assimp"]
	path = client/external_libraries/assimp
	url = git@github.com:assimp/assimp.git
[submodule "client/graphics/shader_pipeline"]
	path = client/graphics/shader_pipeline
	url = git@github.com:opengl-toolbox/shader_pipeline.git
[submodule "client/assets"]
	path = client/assets
	url = git@github.com:opengl-toolbox/assets.git
[submodule "client/interaction/camera"]
	path = client/interaction/camera
	url = git@github.com:opengl-toolbox/camera.git
[submodule "client/external_libraries/stb"]
	path = client/external_libraries/stb
	url = git@github.com:nothings/stb.git
[submodule "server/external_libraries/FTXUI"]
	path = server/external_libraries/FTXUI
	url = git@github.com:ArthurSonzogni/FTXUI.git
[submodule "server/stopwatch"]
	path = server/stopwatch
	url = git@github.com:opengl-toolbox/stopwatch.git
[submodule "server/interaction/mouse"]
	path = server/interaction/mouse
	url = git@github.com:opengl-toolbox/mouse.git
[submodule "client/thread_safe_queue"]
	path = client/thread_safe_queue
	url = git@github.com:opengl-toolbox/thread_safe_queue.git
